<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vue d'ensemble des prix – Fuellytics</title>
    <meta name="description" content="Trouvez des analyses hebdomadaire sur le prix du carburant en France. Trouvez la station-service la moins chère rapidement avec Fuellytics.">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="manifest" href="/static/manifest.json">
    <link rel="apple-touch-icon" href="/static/img/icons/apple-icon-180x180.png">
    <meta name="theme-color" content="#f4f5f6" id="theme-color-meta">
    <meta property="og:type" content="website" />
	<meta property="og:title" content="Trouvez votre station-service au meilleur prix | Fuellytics" />
	<meta property="og:description" content="Fuellytics vous aide à trouver les stations d'essence les moins chères autour de vous en temps réel." />
	<meta property="og:url" content="fuellytics.robcorp.net/" />
	<meta property="og:image" content="https://fuellytics.robcorp.net/static/img/icons/share-banner.png" />
	<meta property="og:site_name" content="Fuellytics" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Trouvez votre station-service au meilleur prix | Fuellytics" />
	<meta name="twitter:description" content="Fuellytics vous aide à trouver les stations d'essence les moins chères autour de vous en temps réel." />
	<meta name="twitter:image" content="https://fuellytics.robcorp.net/static/img/icons/small-share-banner.png" />
    <script src="/static/js/base.js"></script>

</head>
<body class="overview">
<header>
    <div id="floatingHeader">
        <a href="/" class="nav-link">Carte</a>
        <a href="/overview" class="nav-link current">Stats</a>
        <a href="/about" class="nav-link">À propos</a>
    </div>
</header>
<div id="main">
    <div class="overview-container">
        <h1>Vue d’ensemble des prix des carburants - <span id="selectedZoneTitle">France</span></h1>

        <div class="row">
            <div class="mapbox box">
                <div id="filters">
                    <button id="regionButton">Région</button>
                    <button id="departementButton">Département</button>
                    <select id="fuelSelect">
                        <option value="SP98">SP98</option>
                        <option value="Gazole">Gazole</option>
                        <option value="E10">E10</option>
                        <option value="SP95">SP95</option>
                        <option value="E85">E85</option>
                        <option value="GPLc">GPLc</option>
                    </select>
                </div>
                <div id="statMap"></div>
            </div>
            <div id="summaryBox">
                <div class="stat box">
                    <div class="label">Nombre de stations</div>
                    <div id="stat-stations">0</div>
                </div>
                <div class="stat box">
                    <div class="label">Prix Moyen</div>
                    <div id="stat-avg-price">0</div>
                </div>
                <div class="stat box">
                    <div class="label">Ville la moins chère</div>
                    <div id="stat-economic">0</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box plot">
                <div class="box-title"><h2>Evolution des prix</h2></div>
                <div id="pricePlot"></div>
            </div>



            <div id="stations" class="box">
                <div id="moins" class="">
                    <div class="box-title"><h2>Station la moins chère</h2></div>
                </div>
                <div id="plus" class="">
                    <div class="box-title"><h2>Station la plus chère</h2></div>
                </div>
            </div>
        </div>
    </div>



</div>
<script src="https://cdn.plot.ly/plotly-2.20.0.min.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="/static/js/overview.js"></script>
</body>


















